<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oz_tal_application_project">

    <application
        android:allowBackup="true"
        android:icon="@drawable/poker"
        android:label="@string/app_name"
        android:roundIcon="@drawable/poker"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.Oz_Tal_Application_Project">
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>